[core]
	quotepath = false
	excludesfile = /Users/zac/.gitignore
	editor = /usr/bin/vim
	autocrlf = input
[user]
	name = Zac Zheng
	email = zac@zenpow.com
[origin]
  push = refs/tags/*:refs/tags/*
[alias]
  f = flow
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  a = add
  l = pull
  p = push
  pa = push all --all
  aa = add --all
  ri = rebase -i

  ;cou = !git checkout $1 ; && git submodule update
  rbi = rebase -i HEAD~5
  rbd = rebase develop

  sl = stash list
  sa = stash apply
  sp = stash pop
  ss = stash save
  sd = stash drop

  # Bisect
  bs = bisect
  bss = bisect start
  bsg = bisect good
  bsb = bisect bad

  smu = submodule update
  cp = cherry-pick
  cod = !git checkout develop && git submodule update
  com = !git checkout master && git submodule update
  mt = mergetool
  fix-start = flow hotfix start
  # fix-done = !git flow hotfix finish `current_hotfix_branch`
  fix-done = "!_() { p=$(git config --get gitflow.prefix.hotfix); b=$(echo \"$(git branch --no-color | sed 's/^[* ] //')\" | grep \"^$p\"); f=$(echo ${b} | head -n1); f=${f#$p}; git flow hotfix finish \"$f\"; }; _"

  # Log
  lg = !git log --graph --pretty=oneline --abbrev-commit -30
  lgg = !git --no-pager log --pretty=format:\"%h %cd %ae %s %b\"
  ;slog = !sh -c 'git --no-pager log -g --grep=\'$1\''
  slog = !git --no-pager log -g

  # Fancy logging.
  #   h = head
  #   hp = head with patch
  #   r = recent commits, only current branch
  #   ra = recent commits, all reachable refs
  #   l = all commits, only current branch
  #   la = all commits, all reachable refs
  head = !git l -1
  h = !git head
  hp = "!. ~/.githelpers && show_git_head"
  r = !git l -30
  ra = !git r --all
  l = "!. ~/.githelpers && pretty_git_log"
  la = !git l --all  
	today = log --since=midnight --author='Xin Zheng' --oneline
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = diffmerge --merge\n--result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = true
[mergetool]
	keepBackup = false
[color]
	ui = true
[push]
	default = matching
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[github]
	user = zaczheng
